# CUDA Version: 12.2
# Ubuntu 20.04.6
# python 3.10.13
pyyaml==6.0.2
numpy==1.26.4
loguru==0.7.3

# 네트워크 요청 및 데이터 처리
requests==2.31.0
pandas==1.5.3

# 보안 관련
cryptography==41.0.5

# 로깅
logging==0.5.1.2
requests==2.32.3

# Apache Airflow 및 AWS S3 연동 패키지
apache-airflow==2.7.2
apache-airflow[amazon]